<template>
    <div class="container" v-if="!this.$store.state.isLoading">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header form-inline d-flex justify-content-between">
                        Available events list
                        <events-filter />
                    </div>

                    <div class="card-body align-self-center col-12">
                        <events-list v-if="this.$store.state.events.length > 0"/>
                        <div v-else>No available events at the moment.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <spinner/>
    </div>
</template>

<script>
    import EventsFilter from './EventsFilter'
    import EventsList from './EventsList'
    import Spinner from './Spinner'

    export default {
        name: "AppEvents",
        components: {
            EventsList,
            EventsFilter,
            Spinner
        },
        created() {
            this.$store.dispatch('getEvents');
            this.$store.dispatch('getCategories');
            this.$store.dispatch('getUser');

            window.Echo.channel('event-created')
                .listen('EventCreated', (e) => {
                    this.$store.commit('addEvent', e[0]);
                });
        },
    }
</script>