<template>
    <div>
        <notifications group="results" position="bottom right" :closeOnClick="true" :max="3"/>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Notifications from 'vue-notification'
    Vue.use(Notifications);

    export default {
        name: "AppNotification",
        created() {
            window.Echo.channel('results')
                .listen('BalanceHistoryCreated', (e) => {
                    if (e.sign === '+') {
                        this.notify(e.amount);
                    }
                });
        },
        methods: {
            notify(money) {
                this.$notify({
                    group: 'results',
                    type: 'success',
                    title: 'Congratulations!',
                    text: 'You won ' + money + '&euro;.',
                    duration: 1500,
                    speed: 1500,
                });
            },
        }
    }
</script>