<template>
    <div class="event">
        <div class="bet d-flex justify-content-center">
            <div class="team-bet d-flex justify-content-between bg-light text-dark m-1 rounded font-weight-bold col-3" :class="betFor == 1 ? 'selected' : ''" @click="makeSelection('1')">
                <span class="team-name">{{event.team1.name}}</span>
                <span class="team-rate">{{round(event.team1_win_rate)}}</span>
            </div>
            <div class="team-bet d-flex justify-content-between bg-light text-dark m-1 rounded font-weight-bold col-1" :class="betFor == 0 ? 'selected' : ''" @click="makeSelection('0')">
                <span class="team-name">X</span>
                <span class="team-rate">{{round(event.draw_rate)}}</span>
            </div>
            <div class="team-bet d-flex justify-content-between bg-light text-dark m-1 rounded font-weight-bold col-3" :class="betFor == 2 ? 'selected' : ''" @click="makeSelection('2')">
                <span class="team-name">{{event.team2.name}}</span>
                <span class="team-rate">{{round(event.team2_win_rate)}}</span>
            </div>

            <timer :seconds="timeLeft" :event="event" :key="event.id"/>

            <div  class="col-3 d-flex justify-content-between text-dark m-1 rounded font-weight-bold">
                <input
                        class="form-control-sm h-100 w-50 bg-dark text-white rounded"
                        v-model="amount"
                        type="number"
                        placeholder="Amount..."
                        name="bet_amount"
                        step="0.1"
                        min="0.1"
                        max="99999"
                >
                <button type="submit" class='btn btn-sm btn-success' @click.prevent="tryPlaceBet" :disabled="disabled">
                    Place bet
                </button>
            </div>
        </div>
        <div v-if="errors.length > 0">
            <ul>
                <li v-for="error in errors">
                    {{error}}
                </li>
            </ul>
        </div>
        <notifications group="bet_placed" position="bottom left" :closeOnClick="true" :max="3"/>
    </div>
</template>

<script>
    import Timer from './Timer'
    import Notifications from 'vue-notification'
    import Vue from 'vue'
    Vue.use(Notifications);

    export default {
        name: "Event",
        props: ['event'],
        components: {
            Timer
        },
        data() {
            return {
                timeLeft: 0,
                url: '',
                amount: null,
                betFor: null,
                errors: [],
                disabled: false,
            }
        },
        created() {
            this.url = this.projectUrl('api.place.bet', this.event.id);
            let date = new Date(this.event.close_bet_at);
            let now = new Date();
            this.timeLeft = (date.getHours() - now.getHours()) * 3600 + (date.getMinutes() - now.getMinutes()) * 60 + date.getSeconds() - now.getSeconds();
        },
        methods: {
            showSuccessNotification() {
                let team  = this.event.team1.name + ' - ' + this.event.team2.name + ' draw';
                let rate = this.event.draw_rate;
                if (this.betFor == 1) {
                    team = this.event.team1.name;
                    rate = this.event.team1_win_rate;
                } else if (this.betFor == 2) {
                    team = this.event.team2.name;
                    rate = this.event.team2_win_rate;
                }
                this.$notify({
                    group: 'bet_placed',
                    type: 'success',
                    title: '<h5>Successful bet!</h5>',
                    text: 'Placed bet for: <strong>' + team + '</strong><br>Rate:<strong>' + rate + '</strong>, amount:<strong>' + this.amount + '</strong>',
                    duration: 1500,
                    speed: 1500,
                });
            },
            projectUrl(named_route, options) {
                return window.route(named_route, options)
            },
            round(val) {
                return Math.round(val * 100) / 100;
            },
            tryPlaceBet() {
                if (this.validateForm()) {
                    this.placeBet();
                } else {
                    this.hideErrors();
                }
            },
            placeBet() {
                let self = this;
                axios.post(this.url, {
                    bet_for: this.betFor,
                    bet_amount: this.amount,
                    event_id: this.event.id,
                    user_id: this.$store.state.user.id,
                })
                .then(response => {
                    self.showSuccessNotification();
                    this.resetForm();
                })
                .catch(e => {
                    if (typeof e.response !== 'undefined' && typeof e.response.data !== 'undefined' && typeof e.response.data.errors !== 'undefined') {
                        this.errors.push(e.response.data.errors);
                    } else {
                        this.errors.push('Unexpected error. Try again.');
                        this.resetForm();
                    }
                   self.hideErrors();
                })
            },
            hideErrors() {
                let self = this;
                this.disabled = true;
                var timer = setTimeout(function () {
                    self.clearFormErrors();
                    self.disabled = false;
                    clearTimeout(timer);
                }, 2000);
            },
            clearFormErrors() {
                this.errors = [];
            },
            resetForm() {
                this.betFor = null;
                this.amount = null;
            },
            validateForm() {
                this.clearFormErrors();
                return this.validateAmount() && this.validateSelection();
            },
            validateAmount() {
                let form_valid = true;
                if (this.amount == null || this.amount == '') {
                    this.errors.push('Field bet amount is required.');
                    form_valid = false;
                } else if (isNaN(this.amount)) {
                    this.errors.push('Field bet amount must be a number.');
                    form_valid = false;
                }
                return form_valid;
            },
            validateSelection() {
                let form_valid = true;
                if (["0", "1", "2"].indexOf(this.betFor) < 0) {
                    this.errors.push('Field bet for is required.');
                    form_valid = false;
                }
                return form_valid;
            },
            makeSelection(val) {
                this.betFor = val;
            },
        },
    }
</script>

<style>
    .team-bet:hover {
        background: red!important;
        cursor: pointer;
    }

    .selected {
        background: gold!important;
    }

    .notifications {
        bottom: 35px!important;
    }
</style>