<template>
    <div class="bets-list col-12">
        <event v-for="item in list" :key="'event_' + item.id" :event="item"/>
    </div>
</template>

<script>
    import Event from './Event'

    export default {
        name: "EventsList",
        components: {
            Event
        },
        computed: {
            list(){
                return this.$store.state.events;
            }
        },
    }
</script>