<template>
    <div class="form-inline">
        <label class="mr-1" for="category">
            <select name="category" id="category" class="form-control-sm mr-3" style="width: 200px" @change="makeSubcategoriesList">
                <option value="0" selected>All categories</option>
                <option
                        v-for="(item, index) in categories"
                        :key="'category_' + index"
                        :value="item.id"
                >
                    {{item.name}}
                </option>
            </select>
        </label>
        <label class="mr-1" for="subcategory">
            <select name="subcategory" id="subcategory" class="form-control-sm" style="width: 200px">
                <option value="0" selected>All subcategories</option>
                <option
                        v-for="(item, index) in subcategories"
                        :key="'subcategory_' + index"
                        :value="item.id">{{item.name}}</option>
            </select>
        </label>
    </div>
</template>

<script>
    export default {
        name: "EventsFilter",
        data() {
            return {
                subcategories: []
            }
        },
        computed: {
            categories() {
                return this.$store.state.categories;
            }
        },
        methods: {
            makeSubcategoriesList(event) {
                let id = event.target.value;
                if (id === '0') {
                    this.subcategories = [];
                } else {
                    this.subcategories =this.filterCategories(id);
                }
            },
            filterCategories(categoryId) {
                let category = this.categories.find(category => category.id == categoryId);
                return category.subcategories;
            },
        }
    }
</script>