<template>
    <div class="lds-css ng-scope" style="width: 200px; height: 200px;">
        <div style="width:100%;height:100%" class="lds-double-ring">
            <div></div>
            <div></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Spinner"
    }
</script>

<style scoped>
    .lds-css {
        margin: 0 auto;
    }
    @keyframes lds-double-ring {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-webkit-keyframes lds-double-ring {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes lds-double-ring_reverse {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
        100% {
            -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }
    @-webkit-keyframes lds-double-ring_reverse {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
        100% {
            -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }
    .lds-double-ring {
        position: relative;
    }
    .lds-double-ring div {
        position: absolute;
        width: 160px;
        height: 160px;
        top: 20px;
        left: 20px;
        border-radius: 50%;
        border: 16px solid #000;
        border-color: #197a5a transparent #197a5a transparent;
        -webkit-animation: lds-double-ring 1.7s linear infinite;
        animation: lds-double-ring 1.7s linear infinite;
    }
    .lds-double-ring div:nth-child(2) {
        width: 124px;
        height: 124px;
        top: 38px;
        left: 38px;
        border-color: transparent rgba(82.90190263469978%,92.43346774193549%,4.32954874847839%,0.89) transparent rgba(82.90190263469978%,92.43346774193549%,4.32954874847839%,0.89);
        -webkit-animation: lds-double-ring_reverse 1.7s linear infinite;
        animation: lds-double-ring_reverse 1.7s linear infinite;
    }
    .lds-double-ring {
        width: 85px !important;
        height: 85px !important;
        -webkit-transform: translate(-42.5px, -42.5px) scale(0.425) translate(42.5px, 42.5px);
        transform: translate(-42.5px, -42.5px) scale(0.425) translate(42.5px, 42.5px);
    }
</style>