<template>
    <div class="col-1 d-flex justify-content-between bg-light text-dark m-1 rounded font-weight-bold">
        <span>{{timeLeft | secsToTime}}</span>
    </div>
</template>

<script>
    export default {
        name: "Timer",
        props: ['seconds', 'event'],
        data() {
            return {
                timeLeft: this.seconds,
            }
        },
        timers: {
            tick: { time: 1000, autostart: true, repeat: true }
        },
        methods: {
            tick () {
                this.timeLeft = this.timeLeft - 1;
                if (this.timeLeft <= 0) {
                    this.$timer.stop('tick');
                    this.$store.commit('deleteEvent', this.event);
                }
            }
        },
        filters: {
            secsToTime(val) {
                let hours = Math.floor(val / 3600);
                let minutes = Math.floor((val - hours * 3600) / 60);
                let seconds = val - (hours * 3600 + minutes * 60);
                let hoursFormated = hours < 10 ? '0' + hours : hours;
                let minutesFormated = minutes < 10 ? '0' + minutes : minutes;
                let secondsFormated = seconds < 10 ? '0' + seconds : seconds;
                return `${hoursFormated}:${minutesFormated}:${secondsFormated}`;
            }
        },
    }
</script>