body {
    height: 100%;
    background-image: url("../images/error.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

.card-header, .card-body {
    background: black;
}

.card-header {
    color: red;
    font-weight: bold;
}

.card-body {
    color: #ffc107;
}