/*** Basic style ***/
html, body {
    overflow-x:hidden;
}

body {
    height: 100%;
    background: whitesmoke;
}

main {
    margin-top: 70px;
}

/*** Logo style ***/
.logo {
    height: 50px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    background: #000;
    border-radius: 50%;
}

.logo:hover{
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    background: black;
    border-radius: 50%;
}

@-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}

@keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.animated {
    transform-origin: center center;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: initial;
}

/*** Navigation style ***/
.navbar-brand span {
    font-size: 25px;
    color: whitesmoke;
}

.navbar {
    background-image: linear-gradient(to top, #010409, #373d3f, #6f7776, #afb6b2, #f7f9f1);
    -webkit-box-shadow: -1px 6px 10px 6px rgba(0,0,0,1);
    -moz-box-shadow: -1px 6px 10px 6px rgba(0,0,0,1);
    box-shadow: -1px 6px 10px 6px rgba(0,0,0,1);
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    top: 0;
}

.navbar-toggler {
    background-color: whitesmoke;
}

#navbarSupportedContent ul a{
    color: whitesmoke;
    font-weight: bold;
}

.dropdown-menu {
    background: black;
    border: 2px solid white;
}

.dropdown-menu a:hover {
    background: white;
    color: black!important;
}

/*** Menu style ***/
.menu-group {
    border-bottom: 2px solid;
}

.menu-group:last-child{
    border: 0;
}

.menu-is-active {
    color: #ffc107!important;
}

/*** Footer style ***/
footer {
    background-image: linear-gradient(to bottom, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
    -webkit-box-shadow: -1px 2px 10px 6px rgba(0,0,0,0.95);
    -moz-box-shadow: -1px 2px 10px 6px rgba(0,0,0,0.95);
    box-shadow: -1px 2px 10px 6px rgba(0,0,0,0.95);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}

/*** Card style ***/
.card {
    opacity: .9;
    background: #1E1A1A;
    color: white;
    margin-bottom: 25px;
}

.card .table td > a:hover{
    text-decoration: none;
}

.card .table td > a{
    color: orange;
    font-weight: bold;
}

/*** Buttons style ***/
.btn {
    color: white!important;
}

.btn-danger {
    border: 1px solid #dc3545!important;
}

.btn-success {
    border: 1px solid #1c7430!important;
}

.btn-info {
    border: 1px solid #17a2b8!important;
}

.btn-primary {
    border: 1px solid #007bff!important;
}

.btn-secondary {
    border: 1px solid #6c757d!important;
}

.btn-danger, .btn-success, .btn-info, .btn-primary, .btn-secondary {
    background: black;
}

/*** Pagination style ***/
.pagination li span, .page-item a{
    background: black!important;
    color: white!important;
}

.page-item a{
    color: white!important;
}

.page-item.active span {
    background: white!important;
    border-color: white!important;
    color: black!important;
}

/*** Random events (welcome page) styles ***/
table.random-events{
    border-collapse: separate;
    border-spacing: 5px;
    color: white;
    font-weight: bold;
}

.random-events td {
    border: 0!important;
    background: green;
    padding: 5px 15px;
    border-radius: 10px;
}

.team1-bet {
    text-align: right;
    width: 42%;
}

.team2-bet {
    text-align: left;
    width: 42%;
}

a.random-events {
    text-decoration: none;
}

/*** Table style ***/
.table {
    color: white;
}